<!DOCTYPE html>
<html>

<head>
  <title><%= title%></title>
  <% include elements/head_tag.html%>
</head>

<body onload="loadUserName()">
<%include elements/header.ejs%>

<div class="container">
  <div class="row">
    <div class="col-lg-3">
    </div>
    <div class="col-lg-7">
      <div class="row justify-content-center">
        <h2>VUA PHÁ LƯỚI</h2>
      </div>
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">STT</th>
          <th scope="col">Cầu thủ</th>
          <th scope="col">Số áo</th>
          <th scope="col">CLB</th>
          <th scope="col">Bàn thắng</th>
        </tr>
        </thead>
        <tbody>
        <%for(let i = 0; i<list.length; i++){%>
          <tr>
            <th scope="row"><%=i+1%></th>
            <td><%=list[i].TenCauThu%></td>
            <td><%=list[i].SoAo%></td>
            <td><%=list[i].TenDoiBong%></td>
            <td><%=list[i].SoBanThang%></td>
          </tr>
        <%}%>

        </tbody>
      </table>
    </div>
  </div>
</div>

<%include elements/footer.html%>
</body>

</html>