<!DOCTYPE html>
<html>

<head>
  <title><%= title%></title>
  <% include elements/head_tag.html%>
</head>

<body onload="loadUserName()">
  <%include elements/header.ejs%>
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <%include elements/menu.ejs%>
      </div>
      <div class="col-lg-7">
        <div class="row justify-content-center">
          <h2>News</h2>
        </div>
        <h3>Results of recent matches</h3>
        <ul>
          <% 
              for (var i = 0; i < matchs.length; i++){%>
<!--                  <li><a href="#"><%= matchs[i].Tournament%> : <%= matchs[i].HomeTeam %> vs <%= matchs[i].GuestTeam %> : <%= matchs[i].HomeGoal %> -  <%= matchs[i].GuestGoal %> (<%= matchs[i].Date%>)</a></li>-->
                  <li style="width: 1000px"><a href="#"><%=matchs[i]%></a></li>
            <%}
          %>
        </ul>       
      </div>
    </div>
  </div>
  <%include elements/footer.html%>
</body>

</html>