<!DOCTYPE html>
<html>

<head>
  <title><%= title%></title>
  <% include elements/head_tag.html%>
</head>

<body onload="loadUserName()">
  <%include elements/header.ejs%>
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
      </div>
      <div class="col-lg-7">
        <div class="row justify-content-center">
          <h2>BẢNG XẾP HẠNG</h2>
        </div>
        <table class="table">
          <thead class="thead-light">
            <tr>
              <th scope="col">STT</th>
              <th scope="col">Câu lạc bộ</th>
              <th scope="col">ĐĐ</th>
              <th scope="col">Thắng</th>
              <th scope="col">H</th>
              <th scope="col">Thua</th>
              <th scope="col">BT</th>
              <th scope="col">SBT</th>
              <th scope="col">HS</th>
              <th scope="col">Đ</th>
            </tr>
          </thead>
          <tbody>
            <%for(let i = 0; i< listTeam.length; i++) {%>
              <tr>
                <th scope="row"><%=i+1%></th>
                <td><%=listTeam[i].nameTeam%></td>
                <td><%=listTeam[i].numberMatchPlayed%></td>
                <td><%=listTeam[i].numberMatchWin%></td>
                <td><%=listTeam[i].numberMatchDraw%></td>
                <td><%=listTeam[i].numberMatchLose%></td>
                <td><%=listTeam[i].numberOfGoal%></td>
                <td><%=listTeam[i].numberOfGoalConceded%></td>
                <td><%=listTeam[i].numberGoalsDifferent%></td>
                <td><%=listTeam[i].totalScore%></td>
              </tr>
            <%}%>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <%include elements/footer.html%>
</body>

</html>